p This software is not endorsed by Lucasfilm Ltd. or Twentieth Century Fox and is intended for entertainment and information purposes only.
p Star Wars, the Star Wars logo, all names and pictures of Star Wars characters, vehicles and any other Star Wars related items are registered trademarks and/or copyrights of Lucasfilm Ltd., or their respective trademark and copyright holders.


 
