p This software is not endorsed by CBS or Paramount Global and is intended for entertainment and information purposes only.
p Star Trek, the Star Trek logo, all names and pictures of Star Trek characters, vehicles and any other Star Trek related items are registered trademarks and/or copyrights of Paramount Global, or their respective trademark and copyright holders.


 
