form(action="/",method="post")
    label.paragraph-count
        input(type="text", name="paragraph-count", value=paragraphCount)
        | Number of Paragraphs
    label.start-with
        input(type="checkbox", name="start-with", checked=startWith)
        | Start with "Lucas ipsum dolor sit amet..."
    input(type="submit", value="Generate")
- if (paragraphs.length)
    - paragraphs.forEach(function (paragraph) {
        p= paragraph
    - })
