form(action="/",method="post")
    fieldset
        legend Options
        label.paragraph-count
           input(type="text", name="paragraph-count", value=paragraphCount)
           | Number of Paragraphs
        label.start-with
            input(type="checkbox", name="start-with", checked=startWith)
            | Start with "Lieutenant ipsum where no one sit amet has gone before..."
        - var isGrandMaster = termLevel === 'grand-master';
        ol.term-level
            li
                label.term-level-padawan(title="Just the most common terms")
                    input(type="radio", name="term-level", value="padawan", checked=!isGrandMaster)
                    | Starfleet Officer
            //- li
            //-     label.term-level-grand-master(title="More obscure references from the extended universe")
            //-         input(type="radio", name="term-level", value="grand-master", checked=isGrandMaster)
            //-         | Fleet Admiral
        input(type="submit", value="Generate")
    //h3 DEBUG
    //p= debugMessage
if paragraphs.length > 0
    ul#results-tools
        li.copy-text
            button Copy Text
        li.copy-html
            button Copy HTML
    #results
        each paragraph in paragraphs
            p= paragraph
