doctype 5
html(lang="en")
	head
		title= Star Wars Ipsum
	body
		h1 Star Wars Ipsum
		p#intro
			This idea was graciously stolen from
				a(href="http://baconipsum.com") Bacon Ipsum
			.
		input(type="submit")(value="Generate")
