!!! 5
html
	head
		title Star Wars Ipsum
	body
		h1 Star Wars Ipsum
		p#intro
			| This idea was gratefully stolen from
			a(href="http://baconipsum.com") Bacon Ipsum
			| .
		form(action="/",method="post")
			input(type="submit", value="Generate")
		!= body
